body {
    background-color: grey;
    text-align: center;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
   

  }
  
  .color-box {
    width: 80%;
    height: 150px;
    display: inline-block;
    background-color: #000000;
  }
  
  .color-selector {
    margin-top: 20px;
    text-align: left;
  }
  
  .color-selector label {
    display: block;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .color-selector input[type="text"] {
    display: block;
    width: 40%;
    margin: 0 auto;
    padding: 5px;
    font-size: 1.2em;
  }
  
  .color-selector button {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    font-size: 1.2em;
  }
  
  button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 1.2em;
  }
  
  label {
    display: block;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
  }

  input[type="text"] {
    display: block;
    width: 40%;
    margin: 0 auto;
    padding: 5px;
    font-size: 1.2em;
  }
  
  div {
    margin-top: 20px;
    text-align: center;
  }
  
  